<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="\css\artistShow.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title><%= artist.artName %></title>
    <script src="\js\dropdown.js" defer></script>
    <script src="\js\follow-fetch.js" defer></script>
    <link rel="icon" type="image/png"  href="\media\32 x 32 icon.png">
</head>
<body>

  

  <%- include('partials/header')%>   














    <div id="container-new" class="container-new">

      <% if(saa && saa.length) { %> 
          <div class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-3" 
          id="saaAlert" role="alert">
              <h3 class="text-center">
                  <%= saa %> 
              </h3>
              <p id="dismiss-saa" class="text-center dismiss">dismiss</p>
            </div>
          <%  } %>
  
       
          <div img-cont style="display: inline-block; align-items: center; text-align: center; margin-bottom: -3em;">
              <img class="artist-logo" alt="" src="<%= artist.banner  %>">
          </div>

    </div>

     
            <h3 class="mt-0 card-title text-center ">
                <%= artist.artName  %>
            </h3>
      
            <p class="card-text info text-center mb-0">
                 Artist genre: <%= artist.genre  %>
            </p>

            <p class="text-center followers" data-followers="<%= artist.followers %>"><%= artist.followers %> followers</p>

            <% if (activeUser && artist.id !== user.id && user.following.includes(artist.id)) {%>
            
                <button class="follow-btn text-center unfollow">unfollow</button>
      
            <% }else {%>
          
                <button class="follow-btn text-center follow">follow</button>
        
             <% } %>  

             <div class="bio-btn-cont">
            
            <a href="/artists/<%= artist.id %>/about"><button class="about">About</button></a>

            <br>
            <a href="/artists/<%= artist.id %>/donate"><button class="about buy">Donate</button></a>
    </div>
  </div>


<h2 class="text-center h1 mb-3">posts</h2>
<div id="container-new" class="col-10 offset-1">
    <% for (let post of artist.posts) {%> 
    
 
        <div class="content">
        <div class="row mb-3">
            <div class="col-md-4">
                
                <a href="/posts/<%= post.id  %>">
                <img class="img-fluid thumb p-2" alt="" src="<%= post.img  %>">
                </a>
    
                <% if(activeUser && userId === artistUser) { %> 
    
                    <p class="post-link">
                <a href="/posts/<%= post._id  %>/edit-thumbnail">
                <p class="offset-3">replace thumbnail 
                    <span class="icon material-symbols-outlined">
                        file_upload
                        </span>
                </p>
                </a>
                    </p>
                <% } %> 
    
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="/posts/<%= post.id  %>" class="post-link">
                    <h3 class="card-title">
                        <%= post.title  %>
                    </h3>
                </a>
    
                   
                    <a href="/artists/<%= post.artId  %>" class="post-link">
                    <p class="card-text info">by: <%= artist.artName  %></p>
                    </a>
        
                    <p class="card-text info">Concert year: <%= post.year  %> |
                    Concert genre: <%= post.genre  %>
                 
                    </p>


                    
                    <a href="/posts/pay/<%= post.id  %>">
                    <button class="buy mt-2">buy now for £<%= post.price  %></button>
                    </a>
                    
                    <br>
         
            </div>
        </div>
        </div>
        </div>
            
        <% }%>   
    
</div>
</div>
</div>
</div>




</div>
</div>
    </div>
<div class="mt-auto footer">
<%- include('partials/footer')%>   


</div> 
</body>

<script>
const alert = document.getElementById('saaAlert');
const dismiss = document.getElementById('dismiss-saa');
dismiss.onclick = function () {
  if (alert.style.display !== "none") {
    alert.style.display = "none";
  } else {
    alert.style.display = "block";
  }
};
</script>

<style>
a{
    color: #3c3d3c;
    text-decoration: none;
}
</style>

</html>











<script>
  const followBtn = document.querySelector('.follow-btn')
  const followNum = document.querySelector('.followers')
  var followers = followNum.dataset.followers

console.log(followNum.dataset.followers)

var id = '63ce6316991c536cbb152125'

const data = { artistId: id };

followBtn.addEventListener('click', (e) => {

  if(followBtn.classList.contains('follow')){
    followBtn.classList.add('unfollow')
    followBtn.classList.remove('follow')
    followers ++
  followBtn.innerText = 'unfollow'
  console.log(followers)
  followNum.innerText = `${followers} followers`
  }
  else{
    followBtn.classList.add('follow')
  followBtn.classList.remove('unfollow')
  followBtn.innerText = 'follow'
  followers --
  followBtn.innerText = 'follow'
  console.log(followers)
  followNum.innerText = `${followers} followers`
  }

fetch('https://www.youphonica.com/artists/follow', {
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
})
  .then((response) => response.json())
  .then((data) => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
})

</script>